{% extends "base.html" %}
{% block title %}CTA{% endblock %}
{% block slide %}
<div class="slide aspect-[4/5] w-full max-w-lg p-8 flex items-center justify-center dark:text-white bg-gradient-to-tr from-white via-zinc-50 to-zinc-200 dark:from-zinc-950 dark:via-zinc-900 dark:to-zinc-800 shadow-lg">
    <div class="h-full flex flex-col items-center justify-center gap-10">
        <div class="flex items-center justify-center">
            <!-- INÍCIO TEXTO CTA-->
            {{ cta | safe }}
            <!-- FIM TEXTO CTA-->
        </div>

        <div>
            <div class="px-1 rounded-sm text-sm text-white dark:text-black bg-sky-600">
                Link na bio
            </div>
        </div>

        <div class="h-16 px-8 flex items-center gap-4">
            <div class="aspect-square h-full">
                <img src="https://s3.us-east-1.amazonaws.com/s3.scripts.alexandreafonso.com.br/public/temp/assets/alexandre.png" class="rounded-full border-4 border-zinc-950 dark:border-white" />
            </div>

            <div class="flex-1 flex flex-col gap-2">
                <div class="text-xl font-semibold">Alexandre Afonso</div>
                <div class="text-sm">@xandreafonso</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}